

body {
  background-color: #2d5a7e;
}

header img {
  border-radius: 20%;
  height: 10%; 
  width: 13%; 
  float: left;
  margin-left: 1.2%; 
  margin-right: 2%;
  min-height: 192px;
  min-width: 256px;
}

header{
  color: #cfd067;
  margin-left: 10%
}

header nav ul li {
  margin-left: 0%;
  margin-right: 2%;
  margin-top: 9%;
  margin-bottom: 0%;
 }

 @media screen and (max-width: 875px) {
  header nav ul, header nav ul li {
    clear:left;
    margin-top: 5%
  }  
}

header a{
  color: #63b3f4;
  font-weight: bold
}

header a:hover{
  color: #F26661;
}

h1 {
    color: #F26661;
    text-shadow: 0 0 6px #A84744, 0 0 6px #A84744, 0 0 6px #A84744, 0 0 6px #A84744;
    clear: left;
    margin-top: 2%;
  }

header ul li, main ul li {
  list-style: none;
  display: inline-block;
}

main, section {
  color: #cfd067;
  margin: auto;
  width: 80%;
} 

main a{
  color: #c577e4;
}

main a:visited {
  color: #662182;
}

.columns {
  display: grid;
  grid-template-columns: 40% 60%;	
}

section ul li {
  color: #cfd067;
  list-style: none;
}

section a{
  color: #c577e4;
}

section a:visited {
  color: #662182;
}

#compScore{
  display: inline;
}

#userScore{
  display: inline;
}

footer {
  color: #63b3f4;
  margin: auto;
  width: 80%;
}


